<%= form_with(model: folder, local: true) do |form| %>
  <% if folder.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(folder.errors.count, 'error') %> encontrado ao salvar a pasta:</h2>

      <ul>
        <% folder.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= form.label 'Nome' %>
    <%= form.text_field :name %>
  </div>

  <div class='field'>
    <%= hidden_field(:folder, :top_folder_id, :value => folder.top_folder_id) %>
  </div>

  <div class='actions'>
    <%= form.submit 'Salvar' %>
  </div>
<% end %>
